
body, html {
    height: 100%;
}


* {
    box-sizing: border-box;
  }

.bg-image {
 background-image: url('./img/background.jpg');
 filter: blur(5px);
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.container {
  text-align: center;
  background-color: white;
  padding: 30px;
  width: 75%;
 

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   }

   .container_time {
    display: flex;
    justify-content: flex-end;
}

   #time {
    background-color: #E60000;
    padding: 15px;
    color: white;
    font-size: large;
    width: 60px;
    margin-bottom: 10px;
    
    
   }

.word_hussled,
.word_numbers, 
.word_solution {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.letterbox, 
.numbers {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.letterbox, 
.numbers {
    width: 50px;
    height: 60px;
    background-color: white;
    border: solid black 1px;
    margin: 0 15px;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    
}

button {
    background-color: #E60000;
    border: white 1px;
    border-radius: 15px;
    color: white;
    padding: 4px 24px 7px;
    cursor: pointer;
}

.numbers {
    border: solid white 1px;
    color: #E60000;
    height: 20px;
    line-height: 20px;
}

.input {
    margin: 5% 0 2%;
}

#guessed_word {
    height: 20px;
    width: 250px;
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#congrats {
    font-size: large;
    color: green;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#reload {
    visibility: hidden;
}


@media screen and (orientation: portrait) {
  html {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}